* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  background: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  line-height: 1.5;
  color: #fff;
  background: #333;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  filter: blur(15px);  
  -webkit-filter: blur(15px);  
}

.image-container {
  height: 100%;

  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  border-radius: 3%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 0.5;
  height: 100%;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.1fr 0.1fr 1fr;
  /* flex-direction: column; */
  /*justify-content: center; */
  /* align-items: flex-end; */
  flex: 1;
  width: 100%;
  max-width: 500px;
  padding: 20% 0 10% 0;
}


.form-wrapper h1 {
  font-size: 45px;
  width: 100%;
  font-weight: bold;
  max-width: 500px;

  margin-top: auto;
  margin-bottom: 30px;
}

.form-wrapper .actions {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.actions a {
  text-decoration: underline;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;

  align-self: flex-end;
}

.actions button {
  color: #fff;
  font-size: 13px;
  font-weight: bold;

  align-self: flex-start;
  background: #000;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.3s ease-in;
}

.actions button:hover {
  background: #fff;
  color: #000;
}

.actions footer { 
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.actions footer span {
  font-size: 15px;
  font-weight: 500;
  height: max-content;
  align-self: center;
}


.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  font-size: 15px;
  max-width: 500px;
  gap: 15px;
}

.form-input-container:first-of-type{
  margin-bottom: 20px;
}

.form-input-container span {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form-input-container input {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.425);
  color: #fff;
  background: transparent;
  border-radius: 5px;
  padding: 0 15px;
}

@media only screen and (max-width: 1079px) {
  body {
    justify-content: center;
    padding: 10%;
  }

  .image-container {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    background: #000;
    border-radius: 0;
  }

  .form-container {
    flex: 1;
    width: 100%;
    min-width: 200px;
    min-height: 600px;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
  }

  .form-wrapper {
    padding: 10% 0 5% 0;
  }

  .actions button {
    background: #fff;
    color: #000;
  }

  .actions button:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff
  }

  .actions > button {
    width: 100%;
    margin-bottom: 10px;
  }

  .actions footer {
    margin-top: auto;
  }
}

@media only screen and (max-width: 729px) {
  .form-container {
    position: absolute;
    border-radius: 0px;

    padding: 0 20px;
  }
  
  .actions button {
    width: 100%;
  }

  .actions footer {
    flex-direction: column;
    align-items: center;
  }
}